In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder,LabelEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#preprocessing the data
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
#encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
#Combine one-hot encoded columns with the original dataframe
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
#split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:


## load the encoder and scaler
with open('onehot_encoder_geo.pkl', 'rb') as file:
    label_encoder_geo = pickle.load(file)
with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)
with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

In [ ]:
## ANN Regration Problem statement

import tensorflow as tf

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

d:\krish naik aiml ds\churn_modeling ANN\venv\Lib\site-packages\keras\src\export\tf2onnx_lib.py:8: FutureWarning: In the future `np.object` will be defined as the corresponding NumPy scalar.
  if not hasattr(np, "object"):

In [16]:
model = Sequential({
Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
Dense(32, activation='relu'),
Dense(1)  # Output layer for regression
})

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])
model.summary()

d:\krish naik aiml ds\churn_modeling ANN\venv\Lib\site-packages\keras\src\layers\core\dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

import datetime

#set up TensorBoard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [20]:
# set up Early Stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [22]:
history = model.fit(
    X_train,y_train,

validation_data = [X_test, y_test],
    epochs=100,
    callbacks=[early_stopping, tensorboard_callback]
    )

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 7698622464.0000 - mae: 71738.2500 - val_loss: 6672903680.0000 - val_mae: 66880.0781
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 6339896320.0000 - mae: 64891.9961 - val_loss: 5294990336.0000 - val_mae: 60009.2031
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 4605326336.0000 - mae: 56268.6328 - val_loss: 3808173568.0000 - val_mae: 52188.7539
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3714999808.0000 - mae: 51904.9336 - val_loss: 3713897216.0000 - val_mae: 51676.1523
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3595318272.0000 - mae: 51247.4414 - val_loss: 3572966400.0000 - val_mae: 50816.1094
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3596972032.0000 - mae: 51113.6250 - val_loss: 3531938304.0000 - val_mae: 50750.9492
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3567477760.0000 - mae: 51037.4531 - val_loss: 3485908480.0000 - val_mae: 50438.2695
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3557012480.0000 - mae: 51075.0312 - val_loss: 3527668480.0000 - val_mae: 50638.8281
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3540643072.0000 - mae: 50932.5039 - val_loss: 3478671360.0000 - val_mae: 50411.0195
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3527589376.0000 - mae: 50892.3477 - val_loss: 3492358400.0000 - val_mae: 50513.3711
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3547502592.0000 - mae: 50929.0195 - val_loss: 3483417344.0000 - val_mae: 50478.0898
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3538192384.0000 - mae: 50987.3750 - val_loss: 3511415808.0000 - val_mae: 50675.2266
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3529848832.0000 - mae: 50905.7461 - val_loss: 3488144384.0000 - val_mae: 50519.6133
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3519955456.0000 - mae: 50835.1992 - val_loss: 3479043584.0000 - val_mae: 50527.4141
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3524164096.0000 - mae: 50858.2227 - val_loss: 3448761600.0000 - val_mae: 50352.5625
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3523914496.0000 - mae: 50852.8516 - val_loss: 3477786880.0000 - val_mae: 50491.2266
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3503143424.0000 - mae: 50745.5312 - val_loss: 3471555328.0000 - val_mae: 50483.3047
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3517220608.0000 - mae: 50819.9531 - val_loss: 3621995264.0000 - val_mae: 51223.9883
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3505863168.0000 - mae: 50765.5859 - val_loss: 3460586752.0000 - val_mae: 50421.8906
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3511517440.0000 - mae: 50780.3438 - val_loss: 3442661888.0000 - val_mae: 50321.7539
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3513255680.0000 - mae: 50819.3555 - val_loss: 3494934016.0000 - val_mae: 50570.9688
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3520306688.0000 - mae: 50863.2773 - val_loss: 3463674880.0000 - val_mae: 50439.9883
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3500420864.0000 - mae: 50746.2656 - val_loss: 3483959040.0000 - val_mae: 50553.9375
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3509867008.0000 - mae: 50751.8789 - val_loss: 3460765952.0000 - val_mae: 50405.5508
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 3515024640.0000 - mae: 50766.0977 - val_loss: 3509488896.0000 - val_mae: 50643.3984
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - loss: 3504638208.0000 - mae: 50723.7930 - val_loss: 3444946688.0000 - val_mae: 50308.1172
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 3511578624.0000 - mae: 50768.6602 - val_loss: 3444200960.0000 - val_mae: 50321.4805
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3498386688.0000 - mae: 50650.5117 - val_loss: 3457722368.0000 - val_mae: 50426.2734
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 3512216064.0000 - mae: 50835.9336 - val_loss: 3449949952.0000 - val_mae: 50379.3789
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 3498291968.0000 - mae: 50723.2070 - val_loss: 3464923136.0000 - val_mae: 50465.5703

In [23]:
%load_ext tensorboard

In [25]:
%tensorboard --logdir regressionlogs/fit

In [26]:
##evalution model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3442661888.0000 - mae: 50321.7539
Test MAE: 50321.75390625

In [27]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.